html {
    font-size: 10px; /* Tüm sayfanın font boyutunu 10 piksel olarak ayarlar */
}
.table {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
    font-size: 4rem;
}
h2 {
    text-align: left;
    font-size: 3rem;
}
.font {
    font-size: 2rem;
}
.submit {
    font-size: 2rem;
    background-color: rgb(128, 251, 126);
    border: 0rem;
    border-radius: 2rem;
}
.td {
    width: 15%;
}
.footer {
    font-size: 2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 0;
    background-color: rgb(247, 245, 245);
    color: black;
}